<section
  class="new-training"
  fxLayout
  fxLayoutAlign="center center"
  fxLayoutGap="20px"
>
  <form (ngSubmit)="onStartTraining(f)" #f="ngForm">
    <mat-card fxFlex.xs="100%" fxFlex="400px" class="card" fxLayoutGap="20px">
      <mat-card-title *ngIf="!isLoading" fxLayoutAlign="center">
        Time to start a workout!
      </mat-card-title>
      <mat-card-title *ngIf="isLoading" fxLayoutAlign="center">
        Loading workout!
      </mat-card-title>
      <mat-card-content *ngIf="isLoading" fxLayoutAlign="center">
        <mat-spinner></mat-spinner>
      </mat-card-content>
      <mat-card-content *ngIf="!isLoading" fxLayoutAlign="center">
        <mat-form-field>
          <mat-select
            placeholder="Select Workout"
            ngModel
            name="selectedExercise"
            required
          >
            <mat-option
              *ngFor="let exercise of exercises"
              [value]="exercise.id"
            >
              {{ exercise.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions *ngIf="!isLoading" fxLayoutAlign="center">
        <button
          type="submit"
          mat-raised-button
          color="accent"
          [disabled]="f.invalid"
        >
          Start
        </button>
      </mat-card-actions>
    </mat-card>
  </form>
</section>
